# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.DataGrid.iml
# Datasource local storage ignored files
/../../../../../../../../:\dev\Quarta\Informatica\DataGrid\.idea\.idea.DataGrid\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
